<?xml version="1.0" encoding="utf-8"?>
<manifest package="unibo.progettotesi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewProfileActivityB"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.FavoritesProfileB"
            android:label="Preferiti"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.InputFormB"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.NewTripActivityB"
            android:label="Nuovo Viaggio"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SelectRouteActivityB"
            android:label="Scegli Percorso"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.BusWaitingActivity"
            android:label="Alla Fermata"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.OnTheGoActivity"
            android:label="Sul Bus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.DestinationActivityB"
            android:label="Verso Destinazione"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ProfileManagingActivityB"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.EditDeleteActivityB"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.EditActivityB"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.EditNameProfile"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SettingsActivity"
                  android:screenOrientation="portrait">
        </activity>
        <service android:name=".utilities.ActivityRecognitionService" />
        <service android:name=".utilities.ActivityRecognitionService$NotificationActionService" />
    </application>

</manifest>