<?xml version="1.0" encoding="utf-8"?>
<manifest package="unibo.progettotesi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activities.NewProfileActivityB"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.FavoritesProfileB"
                  android:screenOrientation="portrait"
                  android:label="Preferiti">
        </activity>
        <activity android:name=".activities.InputFormB"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.NewTripActivityB"
                  android:screenOrientation="portrait"
                  android:label="Nuovo Viaggio">
        </activity>
        <activity android:name=".activities.SelectRouteActivityB"
                  android:screenOrientation="portrait"
                  android:label="Scegli Percorso">
        </activity>
        <activity android:name=".activities.BusWaitingActivity"
                  android:screenOrientation="portrait"
                  android:label="Alla Fermata">
        </activity>
        <activity android:name=".activities.OnTheGoActivity"
                  android:screenOrientation="portrait"
                  android:label="Sul Bus">
        </activity>
        <activity android:name=".activities.DestinationActivityB"
                  android:screenOrientation="portrait"
                  android:label="Verso Destinazione">
        </activity>
    </application>

</manifest>